/* Reset CSS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: 'Bliss';
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section
{
	display: block;
}
body
{
	line-height: 1;
	font-size: 12px;
	background: white;
	position: relative;
}
ol, ul
{
	list-style: none;
}

blockquote, q
{
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after
{
	content: '';
	content: none;
}
table
{
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 0.6em;
	background: yellow;
	height: 105px;
	width: 355px;
}

html {
	height: 712px;
	width: 1024px;
}

body {
	background: url(../img/background_chess.png);
	background-repeat: no-repeat;
}

#board_cont {
	width: 600px;
	margin: 56px auto 0 20px;
	height: 600px;
	float: left;
}

.highlight-white {
  -webkit-box-shadow: inset 0 0 3px 3px #bcbcbc;
  -moz-box-shadow: inset 0 0 3px 3px #bcbcbc;
  box-shadow: inset 0 0 3px 3px #bcbcbc;  
}
.highlight-black {
  -webkit-box-shadow: inset 0 0 3px 3px black;
  -moz-box-shadow: inset 0 0 3px 3px black;
  box-shadow: inset 0 0 3px 3px black;  
}

ul {
	height: 300px;
	width: 162px;
	float: left;
}

li {
	width: 50px;
	height: 50px;
	margin-left: 29px;
	background: #999;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
}

.opponent {
	margin-right: 30px;
	margin-top: 56px;
}

.opponent li {
	margin-bottom: 30px;
}

.player li {
	margin-top: 30px;
}

.player {
	margin-top: 239px;
}

.profil {
	width: 160px;
	height: 160px;
	margin-left: 15px;
}


.opponent .profil {
	background: url('../img/blasons/red.png');
}

.player .profil {
	background: url('../img/blasons/gold.png');
}

#notif {
	z-index: 2;
	position: absolute;
	right: 32px;
	top: 36px;
	width: 80px;
	height: 80px;
}

.prof {
	width: 80px;
	height: 80px;
	border-radius: 40px;
	background: #3e3;
}

.piece_Q {
	margin-left: 70px;
}

.bulle_notif {
	border-radius: 13px ;
	border: 1px #000 solid;
	background: rgba(255,255,255,0.65);
	width: 26px;
	height: 26px;
	margin-top: 35px;
	margin-left: 35px;
	visibility: hidden;
}

.bulle_notif span {
	font-size: 20px;
	vertical-align: middle;
	font-family: Roboto;
	text-align: center;
	margin-left: 7px;
}

.name {
	font-family: Roboto;
	font-size: 20px;
	color: #3c3c3b;
	text-transform: uppercase;
	text-shadow: 1px 1px 0px rgba(0,0,0,0.15);
	margin-top: 72px;
	display: block;
	text-align: center;
}

/*.popup {
	padding: 10px;
	border-radius: 5px;
	border: 2px solid #000;
}*/
